.profile {
  padding: 8px;
  border-radius: 8px;
  border: 3px solid#ccc;
  background-color: brown;

  &__location {
    font-size: 24px;
    color: aqua;
  }

  &__name {
    font-size: 24px;
    color: blue;
  }
}
